body {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 50px;
    
}

.btn {
    border-radius: 50%;
    background-color: black;
    border-color: rgb(51, 236, 51);
    margin-top: 30px;
}

.btn_img {
    border-radius: 50%;
    width: 130px;
}

.btn_reset_img {
    border-radius: 50%;
    width: 50px;
}


.Name {
    text-align: center;
    color: chartreuse;
    font-family: sans-serif;
    margin-top: 50px;
}

table {
    color: rgb(129, 236, 48);
    font-size: 30px;
    font-family: sans-serif;
    border: solid;
    box-sizing: content-box;
    width:fit-content;
    
    

}

th {
    font-size: 25px;
    font-family: sans-serif;
    height: 35px;
    padding: 5px 12px;
    background-color: black;
    border: solid;
    margin:2px 10px;
    
}
td{
    text-align: center;

}